<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zkml.dao.UserMapper">
    <select id="checkUser" resultType="java.lang.String" parameterType="java.lang.String">
        select userName from tb_user where loginCode=#{loginCode}
    </select>

</mapper>